In [11]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...

In [15]:
import requests

In [17]:
api_endpoint = "https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=471"
response = requests.get(api_endpoint)

In [18]:
if response.status_code == 200:
    print("data fetched sucessfully")
else:
    print("Error fetching data,Status code",response.status_code)

data fetched sucessfully

In [19]:
data = response.json()

In [20]:
data

{'page': 471, 'results': [], 'total_pages': 465, 'total_results': 9296}

In [23]:
import pandas as pd

all_data = []
total_pages = data['total_pages']

base_url = "https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=471"
for page_number in range(1, total_pages + 1):
    api_endpoint = f"{base_url}&page={page_number}"
    response = requests.get(api_endpoint)
    if response.status_code == 200:
        page_data = response.json()
        all_data.extend(page_data['results'])

df = pd.DataFrame(all_data)

In [24]:
df.head(5)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,128.873,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.704,25986
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",138.085,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.695,19705
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,97.561,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.577,11903
3,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,87.458,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.567,15300
4,False,/qqHQsStV6exghCM7zbObuYBiYxw.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,61.191,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.500,8182

In [25]:
df.shape

(9300, 14)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9300 entries, 0 to 9299
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              9300 non-null   bool
 1   backdrop_path      9300 non-null   object
 2   genre_ids          9300 non-null   object
 3   id                 9300 non-null   int64
 4   original_language  9300 non-null   object
 5   original_title     9300 non-null   object
 6   overview           9300 non-null   object
 7   popularity         9300 non-null   float64
 8   poster_path        9300 non-null   object
 9   release_date       9300 non-null   object
 10  title              9300 non-null   object
 11  video              9300 non-null   bool
 12  vote_average       9300 non-null   float64
 13  vote_count         9300 non-null   int64
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 890.2+ KB

In [141]:
df['genre_ids']

0              [18, 80]
1              [18, 80]
2              [18, 80]
3       [18, 36, 10752]
4                  [18]
             ...
9295           [18, 80]
9296    [16, 18, 10752]
9297        [18, 10749]
9298           [28, 18]
9299           [35, 18]
Name: genre_ids, Length: 9300, dtype: object

In [89]:
new_df = pd.concat([df['title'],df['overview'],df['genre_ids']],axis=1)

In [90]:
new_df.head(5)

,title,overview,genre_ids
0,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[18, 80]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,12 Angry Men,The defense and the prosecution have rested an...,[18]

In [52]:
api_endpoint1 = "https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US"
response1 = requests.get(api_endpoint)

In [55]:
data1 = response.json()
data1

{'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 99, 'name': 'Documentary'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10751, 'name': 'Family'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 36, 'name': 'History'},
  {'id': 27, 'name': 'Horror'},
  {'id': 10402, 'name': 'Music'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 10770, 'name': 'TV Movie'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 10752, 'name': 'War'},
  {'id': 37, 'name': 'Western'}]}

In [60]:
genres_data = data1['genres']
df1 = pd.DataFrame(genres_data,columns=['id','name'])

In [61]:
df1

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [91]:
new_df['genrs_name'] = new_df['genre_ids'].apply(lambda x: [df1[df1['id']==id]['name'].values[0] for id in x])

In [70]:
new_df

,title,overview,genre_ids,genrs_name
0,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[18, 80]","[Drama, Crime]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","[Drama, Crime]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]","[Drama, Crime]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","[Drama, History, War]"
4,12 Angry Men,The defense and the prosecution have rested an...,[18],[Drama]
...,...,...,...,...
9295,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...","[18, 80]","[Drama, Crime]"
9296,Grave of the Fireflies,"In the final months of World War II, 14-year-o...","[16, 18, 10752]","[Animation, Drama, War]"
9297,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...","[18, 10749]","[Drama, Romance]"
9298,Seven Samurai,A samurai answers a village's request for prot...,"[28, 18]","[Action, Drama]"
9299,Life Is Beautiful,A touching story of an Italian book seller of ...,"[35, 18]","[Comedy, Drama]"

In [92]:
new_df['overview'] = new_df['overview'].str.lower()

In [93]:
new_df['overview']

0       framed in the 1940s for the double murder of h...
1       spanning the years 1945 to 1955, a chronicle o...
2       in the continuing saga of the corleone crime f...
3       the true story of how businessman oskar schind...
4       the defense and the prosecution have rested an...
                              ...
9295    the true story of henry hill, a half-irish, ha...
9296    in the final months of world war ii, 14-year-o...
9297    a filmmaker recalls his childhood, when he fel...
9298    a samurai answers a village's request for prot...
9299    a touching story of an italian book seller of ...
Name: overview, Length: 9300, dtype: object

In [94]:
from nltk.corpus import stopwords

In [95]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return " ".join(filtered_words)

In [96]:
new_df['overview'] = new_df['overview'].apply(remove_stopwords)

In [98]:
new_df['overview']

0       framed 1940s double murder wife lover, upstand...
1       spanning years 1945 1955, chronicle fictional ...
2       continuing saga corleone crime family, young v...
3       true story businessman oskar schindler saved t...
4       defense prosecution rested jury filing jury ro...
                              ...
9295    true story henry hill, half-irish, half-sicili...
9296    final months world war ii, 14-year-old seita s...
9297    filmmaker recalls childhood, fell love movies ...
9298    samurai answers village's request protection f...
9299    touching story italian book seller jewish ance...
Name: overview, Length: 9300, dtype: object

In [145]:
import re

def has_html_tags(text):
    pattern = r'<[^>]*>'  # Regular expression pattern to match HTML tags
    return re.search(pattern, text) is not None

# Apply the has_html_tags function to the 'overview' column of DataFrame
has_html = new_df['overview'].apply(has_html_tags)

# Check if any rows have HTML tags
if has_html.any():
    print("HTML tags are present in the 'overview' column.")
else:
    print("No HTML tags found in the 'overview' column.")

No HTML tags found in the 'overview' column.

In [112]:
import string
import nltk

def remove_punctuations(text):
    punctuations = set(string.punctuation)
    sentence_words = nltk.word_tokenize(text)
    filtered_words = [word for word in sentence_words if word not in punctuations]
    return " ".join(filtered_words)

In [114]:
new_df['overview'] = new_df['overview'].apply(remove_punctuations)

In [119]:
wordnet_lemmatizer = WordNetLemmatizer()

from nltk import pos_tag
from nltk.corpus import wordnet
nltk.download('averaged_perceptron_tagger')

def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN  # Default to noun if the tag is unknown

def lemmatize_sentence(sentence):
    words = nltk.word_tokenize(sentence)
    tagged_words = pos_tag(words)
    lemmatized_words = [wordnet_lemmatizer.lemmatize(word, get_wordnet_pos(tag)) for word, tag in tagged_words]
    return ' '.join(lemmatized_words)

new_df['overview'] = new_df['overview'].apply(lemmatize_sentence)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

In [120]:
new_df['overview']

0       frame 1940s double murder wife lover upstandin...
1       span year 1945 1955 chronicle fictional italia...
2       continue saga corleone crime family young vito...
3       true story businessman oskar schindler save th...
4       defense prosecution rest jury filing jury room...
                              ...
9295    true story henry hill half-irish half-sicilian...
9296    final month world war ii 14-year-old seita sis...
9297    filmmaker recall childhood fell love movie vil...
9298    samurai answer village 's request protection f...
9299    touch story italian book seller jewish ancestr...
Name: overview, Length: 9300, dtype: object

In [130]:
import re

def remove_special_chars(text):
    # Define the pattern to match special characters using regular expression
    pattern = r'[^a-zA-Z0-9\s]'  # Keep alphanumeric characters and spaces

    cleaned_text = re.sub(pattern, '', text)
    return cleaned_text

In [131]:
new_df['overview'] = new_df['overview'].apply(remove_special_chars)

In [132]:
new_df['overview']

0       frame 1940s double murder wife lover upstandin...
1       span year 1945 1955 chronicle fictional italia...
2       continue saga corleone crime family young vito...
3       true story businessman oskar schindler save th...
4       defense prosecution rest jury filing jury room...
                              ...
9295    true story henry hill halfirish halfsicilian b...
9296    final month world war ii 14yearold seita siste...
9297    filmmaker recall childhood fell love movie vil...
9298    samurai answer village s request protection fa...
9299    touch story italian book seller jewish ancestr...
Name: overview, Length: 9300, dtype: object

In [146]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

class GenreClassifier:
    def __init__(self, max_features=1000, random_state=42, classifier='nb'):
        self.max_features = max_features
        self.random_state = random_state
        self.vectorizer = TfidfVectorizer(max_features=max_features)
        self.mlb = MultiLabelBinarizer()
        self.classifier_type = classifier
        
        if self.classifier_type == 'nb':
            self.classifier = OneVsRestClassifier(MultinomialNB())
        elif self.classifier_type == 'logreg':
            self.classifier = OneVsRestClassifier(LogisticRegression(solver='lbfgs', multi_class='ovr'))
        elif self.classifier_type == 'rf':
            self.classifier = RandomForestClassifier(n_estimators=100, random_state=random_state)
        elif self.classifier_type == 'svm':
            self.classifier = OneVsRestClassifier(SVC(kernel='linear', probability=True, random_state=random_state))


    def preprocess_data(self, X, y):
        X_vectorized = self.vectorizer.fit_transform(X)
        y_encoded = self.mlb.fit_transform(y)
        return X_vectorized, y_encoded

    def train_model(self, X_train, y_train):
        self.classifier.fit(X_train, y_train)

    def evaluate_model(self, X_test, y_test):
        y_pred = self.classifier.predict(X_test)
        accuracy = accuracy_score(y_test, y_pred)
        report = classification_report(y_test, y_pred, target_names=self.mlb.classes_)
        return accuracy, report

# Assuming df_overview contains the overview text and df_genres contains the genre labels
X = new_df['overview']
y = new_df['genrs_name']

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize GenreClassifier and preprocess data
genre_classifier = GenreClassifier(classifier='nb') # Change 'rf' to 'logreg', 'svm', or 'nb' for other classifiers
X_train_processed, y_train_processed = genre_classifier.preprocess_data(X_train, y_train)
X_test_processed, y_test_processed = genre_classifier.preprocess_data(X_test, y_test)

# Train the model
genre_classifier.train_model(X_train_processed, y_train_processed)

# Evaluate the model
accuracy, report = genre_classifier.evaluate_model(X_test_processed, y_test_processed)
print("Accuracy:", accuracy)
print("Classification Report:\n", report)

Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

      Action       1.00      1.00      1.00       291
   Adventure       1.00      1.00      1.00        92
   Animation       1.00      1.00      1.00       252
      Comedy       1.00      1.00      1.00       392
       Crime       1.00      1.00      1.00       663
       Drama       1.00      1.00      1.00      1490
      Family       1.00      1.00      1.00        83
     Fantasy       1.00      1.00      1.00       280
     History       1.00      1.00      1.00        89
     Romance       1.00      1.00      1.00       357
    Thriller       1.00      1.00      1.00       293
         War       1.00      1.00      1.00       180
     Western       1.00      1.00      1.00        97

   micro avg       1.00      1.00      1.00      4559
   macro avg       1.00      1.00      1.00      4559
weighted avg       1.00      1.00      1.00      4559
 samples avg       1.00      1.00      1.00      4559